# trigger:
#   branches:
#     include:
#       - main
#       - develop
# pr:
#   branches:
#     include:
#       - main
#       - develop
# pool:
#   vmImage: 'ubuntu-latest'
# variables:
#   TF_VERSION: '1.8.5'
# steps:
#   - checkout: self
#     persistCredentials: true
#   - task: TerraformInstaller@0
#     displayName: 'Install Terraform'
#     inputs:
#       terraformVersion: '$(TF_VERSION)'
#   - task: Bash@3
#     displayName: 'Export ARM_* and TF_VAR_*'
#     env:
#       ARM_CLIENT_ID: $(ARM_CLIENT_ID)
#       ARM_CLIENT_SECRET: $(ARM_CLIENT_SECRET)
#       ARM_TENANT_ID: $(ARM_TENANT_ID)
#       ARM_SUBSCRIPTION_ID: $(ARM_SUBSCRIPTION_ID)
#       TF_VAR_admin_password: $(TF_VAR_admin_password)
#     inputs:
#       targetType: 'inline'
#       script: |
#         echo "Azure creds exported for Terraform (ARM_*)."
#   - task: Bash@3
#     displayName: 'Terraform Init (AzureRM backend)'
#     env:
#       ARM_CLIENT_ID: $(ARM_CLIENT_ID)
#       ARM_CLIENT_SECRET: $(ARM_CLIENT_SECRET)
#       ARM_TENANT_ID: $(ARM_TENANT_ID)
#       ARM_SUBSCRIPTION_ID: $(ARM_SUBSCRIPTION_ID)
#     inputs:
#       targetType: 'inline'
#       script: |
#         cd infra
#         terraform init           -backend-config="resource_group_name=$(TFSTATE_RG)"           -backend-config="storage_account_name=$(TFSTATE_STORAGE)"           -backend-config="container_name=$(TFSTATE_CONTAINER)"           -backend-config="key=$(TFSTATE_KEY)"           -backend-config="use_azuread_auth=true"
#   - task: Bash@3
#     displayName: 'Terraform Validate & Plan'
#     env:
#       ARM_CLIENT_ID: $(ARM_CLIENT_ID)
#       ARM_CLIENT_SECRET: $(ARM_CLIENT_SECRET)
#       ARM_TENANT_ID: $(ARM_TENANT_ID)
#       ARM_SUBSCRIPTION_ID: $(ARM_SUBSCRIPTION_ID)
#     inputs:
#       targetType: 'inline'
#       script: |
#         cd infra
#         terraform fmt -check
#         terraform validate
#         terraform plan -out=tfplan
#   - task: Bash@3
#     displayName: 'Terraform Apply (main only)'
#     condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
#     env:
#       ARM_CLIENT_ID: $(ARM_CLIENT_ID)
#       ARM_CLIENT_SECRET: $(ARM_CLIENT_SECRET)
#       ARM_TENANT_ID: $(ARM_TENANT_ID)
#       ARM_SUBSCRIPTION_ID: $(ARM_SUBSCRIPTION_ID)
#     inputs:
#       targetType: 'inline'
#       script: |
#         cd infra
#         terraform apply -auto-approve tfplan
