
name: Terraform Deploy

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.0

      - name: Terraform Init
        env:
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
        run: terraform init

      - name: Terraform Plan
        env:
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          TF_VAR_admin_password: ${{ secrets.TF_VAR_admin_password }}
        run: terraform plan

    #   - name: Terraform Apply
    #     if: github.ref == 'refs/heads/main'
    #     env:
    #       ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
    #       ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
    #       ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
    #       ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
    #       TF_VAR_admin_password: ${{ secrets.TF_VAR_admin_password }}
    #     run: terraform apply -auto-approve
